// LIBRARIES
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle.min';

// IMPORT
@import 'vars';
@import 'fonts';

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
header,
main,
footer,
hgroup,
menu,
nav,
section{
  display: block;
}

::-webkit-scrollbar{
  background-color: rgba($grey, 0.1);
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba($grey, 0.4);
  border-radius: 3px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  text-transform: uppercase;
}

p{
  line-height: 140%;
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
  img{
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
}

textarea {
  height: 120px;
  overflow: auto;
  vertical-align: top;
  resize: none;
}

button{
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  padding: 0;
}

a{
  display: inline-block;
}

button,
input,
select,
textarea{
  outline: none;
  border: none;
}

iframe{
  border: none;
}

select{
  background-color: transparent;
}

address{
  font-style: normal;
}

body{
  font-family: 'Manrope';
  font-weight: 400;
  color: $text;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  padding: 0 24px;
  width: 100%;
  border: 2px solid #C5D1D4;
  transition: all 0.2s;
  font-size: 16px;
  &:hover,
  &:focus {
    border-color: $main;
    background-color: #fff;
  }
  
  &::placeholder {
    color: #9AABAF;
    font-size: 14px;
  }
  &:hover::placeholder,
  &:focus::placeholder {
    color: $main; 
  }
}

@include border(6px);
@include height(46px);


picture,
svg,
video,
img{
  max-width: 100%;
}




.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1;
}

.wpcf7-not-valid-tip{
  margin-top: 8px;
  display: block;
}

.container{
  margin: auto;
  max-width: 1500px;
}

.text-center {
  text-align: center;
}

.text-white {
    color: #fff;
}

.swiper-pagination{
  display: flex;
  align-items: center;
  gap: 12px;
}

.swiper-pagination-bullet{
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  height: 9px;
  width: 9px;
  margin: 0!important;
}

.swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #fff;
}

.splitter{
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 20px;
  *{
    min-width: 0;
  }
}

.topline{
  border-top: 1px solid #c5d1d4;
}