@media(max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1400px) {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba($grey, 0.2);
        z-index: 10;
    }

    .spacing {
        padding: 70px 0;
    }
}

@media(max-width: 1200px) {
    .container {
        padding: 0 60px;
        max-width: 100%;
    }

    .splitter {
        grid-template-columns: 1fr;
    }

    .empty {
        display: none;
    }

    .header {
        position: relative;

        &__main {
            grid-template-columns: 1fr;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }

        &__btn {
            display: none;
        }

        &__bottom {
            height: 65px;
            padding: 0;
        }

        &__search {
            position: absolute;
            bottom: 10px;
            left: 60px;
            right: 60px;
        }

        &__trigger {
            display: flex;
        }

        &__list {
            display: none;
        }

        .header__dropdown {
            display: none;
        }

        &__dropdown {
            position: unset;
            visibility: visible;
            opacity: 1;
            background-color: #fff;
            color: $main;
            width: 100%;
            margin-top: 20px;
            padding: 20px;
            border-radius: 12px;

            img {
                height: 30px;
                width: 30px;
            }
        }

    }

    .card {
        &__main {
            grid-template-columns: 1fr;
        }

        &__image {
            width: 100%;
        }
    }

    .cards {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .info{
        &__head{
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    .header__search {
        left: 40px;
        right: 40px;
    }


    .spacing {
        padding: 60px 0;
    }

    .products {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .company {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__content {
            order: -1;
        }
    }

    .history {
        &__inner {
            grid-template-columns: 1fr;
            gap: 0px;
        }

        &__box:nth-child(2)::before {
            display: none;
        }
    }

    .consult {
        grid-template-columns: 1fr;
    }

    .features {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contact {
        &__inner {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        &__content {
            order: -1;
        }
    }

    .card{
        &__inner{
            grid-template-columns: repeat(2, 1fr);
        }

    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .header__search {
        left: 30px;
        right: 30px;
    }

    .spacing {
        padding: 50px 0;
    }

    .view {
        position: relative;

        &__title {
            font-size: 32px;
        }

        &__item {
            min-height: auto;
            padding: 30px;
            border-radius: 12px;
            padding-bottom: 50px;
        }

        &__title,
        &__text {
            width: 100%;
        }

        &__text {
            margin-top: 16px;
            font-size: 16px;
        }

        .swiper-pagination {
            margin-bottom: 10px;
        }
    }

    .brands,
    .products {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .head {
        grid-template-columns: 1fr;

        .btn {
            width: 100%;
        }
    }

    .stages{
        &__content{
            grid-template-columns: 1fr;
            gap: 12px;
        }

        &__images{
            grid-template-columns: 1fr;
            gap: 5px;
        }

        &__img{
            border-radius: 10px!important;
        }

        &__number{
            margin-top: 0;
            font-size: 40px;
        }
    }

    .cards{
        &__inner{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer{
        padding: 50px 0 35px;
        &__logo{
            height: 40px;
        }

        &__head{
            flex-direction: column;
            align-items: flex-start;
        }

        &__list{
            flex-direction: column;
            align-items: flex-start;
            margin-top: 24px;
        }

        &__bottom{
            margin-top: 30px;
            flex-direction: column;
            font-size: 14px;
        }
    }

    .cards{
        &__tabs{
            grid-template-columns: repeat(2, 1fr);
        }

        &__tab{
            img{
                max-height: 50px;
            }
        }

        &__icon{
            height: 25px;
            width: 25px;
        }
    }

    .tabs{
        grid-template-columns: repeat(2, 1fr);
        &__item{
            font-size: 16px;
        }
    }

}

@media(max-width: 620px) {
    @include padding(10px, 20px);

    .container {
        padding: 0 20px;
    }

    .header__search {
        left: 20px;
        right: 20px;
    }

    .view {
        &__title {
            font-size: 24px;
        }

        &__item {
            padding: 20px 20px 40px;
        }

        .btn {
            width: 100%;
        }

        .swiper-pagination {
            margin-bottom: 5px;
        }
    }

    .products {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            border-radius: 8px;
        }
    }

    .header {
        &__top {
            padding: 16px 0;
            gap: 6px;
        }

        &__logo {
            height: 35px;
        }

        &__trigger {
            height: 35px;
            width: 40px;
            padding: 5px;
        }



        &__search {
            input {
                padding-right: 40px;
            }
        }

        &__button {
            width: 55px;
        }

        &__time {
            font-size: 10px;
        }

        &__phone {
            font-size: 14px;
        }
    }

    .mb {
        margin-bottom: 30px;
    }


    .modal {
        &__inner {
            height: 100%;
            width: 100%;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 35px 16px;
        }

        &__text {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .tabs {
        gap: 10px;

        &__item {
            height: 40px;
            padding: 5px 16px;
        }

        &__more {
            height: 40px;
            width: 40px;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        height: 16px;
        width: 16px;
    }

    .form {
        &__confirm {
            gap: 10px;
        }

        &__policy {
            font-size: 12px;
        }
    }

    .mobile-menu {
        &__inner {
            width: 95%;
        }
    }

    .spacing {
        padding: 50px 0;
    }


    .linked {
        padding: 50px 20px;
        font-size: 24px;
    }

    .breadcrumbs {
        font-size: 14px;
    }
  

    .company {
        &__inner {
            gap: 25px;
        }

        &__img {
            height: 250px;
        }

        &__text {
            text-align: justify;
        }
    }

    .history {
        &__head {
            span {
                font-size: 30px;
            }
        }
    }

    .consult {
        padding: 30px;
        gap: 25px;

        &__text {
            font-size: 14px;
        }

        .title {
            text-align: left;
        }
    }

    .title {
        text-align: center;
    }

    .features {
        &__item {
            min-height: 160px;
            height: auto;
            border-radius: 12px;
        }

        &__inner {
            grid-template-columns: 1fr;
        }

        &__img {
            height: 160px;
            grid-column-start: span 1;
        }

        &__text {
            font-size: 14px;
        }
    }

    .contact {
        &__map {
            height: 250px;
        }
    }

    .cards{
        &__inner{
            grid-template-columns: repeat(1, 1fr);
        }

        &__img{
            height: 140px;
        }
    }

    .card{
        .btn{
            width: 100%;
        }

        .title{
            text-align: left;
        }

        &__image{
            height: 300px;
            padding: 16px;
        }

        &__inner{
            grid-template-columns: 1fr;
        }
    }

    .head{
        &__left{
            flex-direction: column;
            text-align: center;
            gap: 12px;
        }
    }

    td{
        padding: 16px 10px;
        font-size: 14px;
    }

    .info{
        .title{
            text-align: left;
        }
        &__img{
            height: 220px;
        }

        &__graph{
            height: auto;
        }
    }
}

@media(max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .header__search {
        left: 10px;
        right: 10px;
    }

    .policy {
        ul:has(b) li {
            grid-template-columns: 1fr;
            gap: 6px;
        }

        ul {
            padding-left: 15px;
        }

        &__wrapper {
            margin-top: 30px;
        }
    }

}