// IMPORT
@import 'vars';
@import 'fonts';
@import 'global';

.breadcrumbs~.spacing:first-of-type {
    padding-top: 0px !important;
}

.breadcrumbs {
    padding: 30px 0 30px;
    font-weight: 500;

    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__link {
        position: relative;
        font-weight: 400;
        padding-right: 15px;
        transition: all 0.1s;
        @media (any-hover: hover){
            
            &:hover {
                color: $red;
            }
        }

        &::after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $red;
        }
    }

    &__current {
        color: $red;
    }

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 55px;
    display: flex;
    font-size: 16px;
    font-weight: 600;

    svg {
        height: 14px;
        width: 14px;
    }

    .page-numbers {
        display: flex;
        gap: 10px;

        .current,
        li {
            height: 35px;
            min-width: 30px;
            border-radius: 4px;
            transition: all 0.2s;
            @extend %center;

            a {
                @extend %center;
                border-radius: inherit;
                height: 100%;
                width: 100%;
            }
        }

        .current,
        li:has(:not(.dots)){
            @media (any-hover: hover){
            
                &:hover {
                    background-color: $main;
                    color: #fff;
        
                    svg {
                        filter: brightness(1000%);
                    }
                }
            }
        }
    }
}

.tabs {
    margin: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 10px;

    &__item {
        padding: 20px 24px;
        color: $text;
        @extend %hover;
        @extend %center;
        color: $main;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 1px solid #c5d1d4;
        transition: all 0.1s;
        @media (any-hover: hover){
            &:hover {
                border-color: $main;
            }
        }
        &.active {
            border-color: $main;
        }
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;

        &.active {
            grid-template-rows: 1fr;
        }
    }

    &__wrapper {
        min-height: 0;
    }

    &__more {
        background-color: $main;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        @extend %center;
        @extend %hover;
    }
}

.title {
    font-size: 25px;
}

.head {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: end;

    &__left {
        display: flex;
        align-items: center;
        gap: 30px;

        img {
            max-height: 60px;
            object-fit: contain;
        }
    }

    &__name {
        font-size: 20px;
    }

}

.spacing {
    padding: 60px 0;
}

.btn {
    @extend %center;
    width: fit-content;
    transition: all 0.1s ease-in;
    text-align: center;
    position: relative;
    color: #fff;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 70px;

    &_red {
        background-color: $red;
        color: #fff;
        font-weight: 600;
    }

    &_outline {
        border: 1px solid $main;
        color: $main;
        font-weight: 500;
        @media (any-hover: hover){
            
            &:hover {
                background-color: $main;
                color: #fff;
            }
        }

        &::after,
        &::before {
            display: none;
        }
    }

    &_center {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    &::before,
    &::after {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100px) skewX(-15deg);
        content: "";
    }

    &::before {
        width: 60px;
        background: rgba(255, 255, 255, 0.5);
        filter: blur(30px);
        opacity: 0.5;
    }

    &::after {
        width: 30px;
        left: 30px;
        background: rgba(255, 255, 255, 0.2);
        filter: blur(5px);
    }
    @media (any-hover: hover){
            
        &:hover {
            &::before {
                opacity: 1;
            }
    
            &::before,
            &::after {
                transform: translateX(300px) skewX(-15deg);
                transition: all 1s ease;
            }
        }
    }
}

.btn:disabled {
    background-color: $grey;
    cursor: not-allowed;
    @media (any-hover: hover){
            
        &:hover {
            background-color: $grey;
    
            &::after,
            &::before {
                display: none;
            }
        }
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s linear;
        overflow: hidden;
    }

    &__head {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        &:focus-visible {
            color: $main;
            outline: none;
        }
    }

    &__item {
        padding: 16px;
        border-radius: 12px;

        &.active {
            .accordion {
                &__wrapper {
                    grid-template-rows: 1fr;
                }

                &__name {
                    color: $main;
                }

                &__btn {
                    background-color: $main;
                    rotate: 45deg;
                }


            }
        }

    }

    &__btn {
        border-radius: 50%;
        background-color: $main;
        @extend %center;
        height: 40px;
        width: 40px;
        padding: 10px;
        transition: all 0.2s linear;
    }


    &__content {
        min-height: 0;
        line-height: 160%;
        padding-top: 16px;
    }

}

.table__wrapper {
    overflow-x: auto;
    position: relative;
}

table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #c5d1d4;
}

tr:first-child {
    color: #fff;
    background: #154a60;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

tr:first-child td{
    padding: 22px;
}

td:first-child{
    font-weight: 600;
}

tr {
    border-radius: 6px;
}

tr:last-child td{
    border-bottom: unset;
}


td {
    padding: 30px 20px;
    font-size: 16px;
    border-bottom: 1px solid #c5d1d4;
    
}

td:has(.info__acts){
    border-left: 1px solid #c5d1d4;
}